pgs
*.pyc
COPYING.txt
INSTALL.txt
PKG-INFO
README.txt
docs
examples/
out
mechanize*
MANIFEST.in
ez_setup.py
setup.cfg
test.py
test
release.py
setup.py

out2
out3
out4
rawr
rawr.bak
wheeout
keep
test-*
